<nav class="navbar navbar-light bg-dark justify-content-between">
    <a class="navbar-brand text-white">Task Management System</a>
    <form class="form-inline">
    
      <!-- <button *ngIf="AddTask" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="check()"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/AddTask">Add Task</button> -->

    </form>
  </nav>
<!-- 
  <form [formGroup]="editForm" novalidate>
    <div class="editForm"> 
     <label for="Title">Title</label> 
     <div class="input-group"> 
        <input formControlName="Title" class="form-control"> 
     </div> 
   </div>
    <div class="editForm">
      <label for="Description">Description</label>
      <div class="input-group">
        <input formControlName="Description" class="form-control">
      </div>
    </div>
    <div class="editForm">
      <label for="Date">Date</label>
      <div class="input-group">
        <input formControlName="Date" class="form-control">
      </div>
    </div>
    <div class="editForm">
      <label for="Assigned To">Assigned To</label>
      <div class="input-group">
        <input formControlName="Assigned To" class="form-control">
      </div>
    </div>
    <div class="editForm">
      <label for="Priority">Priority</label>
      <div class="input-group">
        <input formControlName="Priority" class="form-control">
      </div>
    </div>
    <div class="editForm">
      <label for="Duration">Duration</label>
      <div class="input-group">
        <input formControlName="Duration" class="form-control">
      </div>
    </div> -->

  