<!-- {{ TaskDetail | json}}  -->


<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <h2><strong>To Do Task</strong></h2>
        </div>
        <div class="col text-right ml-5">
                      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" (click)="openModel()" ><i class="fas fa-plus"></i>Add Task</button>
            <!-- <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal"
                (click)="createTask()">Add Task</button> -->
        </div>

      
       <!--  <div class="col text-right ml-5">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" (click)="openModel()"><i class="fas fa-plus"></i> Add Employee</button>
        </div> -->
    </div>
<!-- 

    <div class="modal fade show" id="exampleModal" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div> 
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Enter Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)] = "name">
                        </div>
                        <div class="form-group">
                            <label>Enter Department</label>
                            <input type="text" class="form-control" name="department" [(ngModel)] = "department">
                        </div>
                        <div class="form-group"> 
                            <label>Enter Salary</label> 
                            <input type="text" class="form-control" name="salary" [(ngModel)] = "salary"> 
                        </div> 
                    </div> 
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" >Add Employee</button> 
                    </div> 
                </form> 
            </div> 
        </div> 
    </div> -->



    <div class="modal fade show" id="exampleModal">

        <!-- <div *ngif="newtaskClicked" id="exampleModal" > -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>

                <form ngSubmit=(submit)>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Enter Tilte <title></title></label>
                            <input type="text" class="form-control" name="Title" [(ngModel)]="Title">
                        </div>
                        <div class="form-group">
                            <label>Enter Description</label>
                            <input type="text" class="form-control" name="Description" [(ngModel)]="Description">
                        </div>
                        <div class="form-group">
                            <label>Enter Date</label>
                            <input type="text" class="form-control" name="Date" [(ngModel)]="Date">
                        </div>
                        <div class="form-group">
                            <label>Enter Assigned To</label>
                            <input type="text" class="form-control" name="Assigned To" [(ngModel)]="assignesTo">
                        </div>
                        <div class="form-group">
                            <label>Enter Priority</label>
                            <input type="text" class="form-control" name="Priority" [(ngModel)]="Priority">
                        </div>

                        <div class="form-group">
                            <label>Enter Duration </label>
                            <input type="text" class="form-control" name="Duration" [(ngModel)]="Duration">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="createTask()">Add
                            Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="row">
    <div class="col-md-4" *ngFor= "let Task of TaskDetail">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{Task.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{Task.Description}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{Task.Date}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{Task.assignesTo}}</h6>
                <span class="badge" [ngClass]="{
                    'badge-success': Task.Priority === 'Easy',
                    'btn-outline-danger': Task.Priority === 'Medium',
                    'btn-primary': Task.Priority === 'High'
                }">{{Task.Priority}}</span>
                <h6 class="card-subtitle mb-2 text-muted">{{Task.Duration}}</h6>
                <hr>
                <button type="button" class="btn btn-outline-primary mr-5" data-toggle="modal" data-target="#updateModal">Edit</button>
                
            </div>
        </div>
    </div>
</div>
</div>  -->



    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">assignesTo</th>
                <th scope="col">Priority</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Task of TaskDetail">
                <th scope="row">{{Task.Title}}</th>
                <td>{{Task.Description}}</td>
                <td>{{Task.Date}}</td>
                <td>{{Task.assignesTo}}</td>
                <td>{{Task.Priority}}</td>
                <td>{{Task.Duration}}</td>
                <button type="button" class="btn btn-outline-primary mr-5" data-toggle="modal"
                    data-target="#updateModal" (click)="update(id)">Edit</button>
                    <button type="button" class="btn btn-outline-danger" (click) = "deleteTask(Task._id)">Delete</button>
            </tr>
        </tbody>
    </table>


    <div class="modal fade show" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header"  >
                    <h5 class="modal-title"  id="exampleModalLabel">Update Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div> 
          


            <!--     <form #updateForm="ngForm" (ngSubmit)="update(task)">
                    <div class="form-group">
                      <label for="Tilte">Student Rollnumber :</label>
                      <input type="text" disabled #rollNumber [(ngModel)]="studentToUpdate.rollNumber" name="rollNumber" id="rollNumber"
                        class="form-control" placeholder="Student Roll number">
                    </div>
                    <div class="form-group">
                      <label for="name">Student Name :</label>
                      <input type="text" #name [(ngModel)]="studentToUpdate.name" name="name" id="name" class="form-control"
                        placeholder="Student Name">
                    </div>
                   
                  </form> -->

         
                <form #updateForm="ngForm" (ngSubmit)="update(id)" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Tilte">Enter Tilte </label>
                            <input type="text" class="form-control" name="Title" id="Title"  [(ngModel)]="taskUpdate.Title">
                        </div>
                        <div class="form-group">
                            <label>Enter Description</label>
                            <input type="text" class="form-control" name="Description" [(ngModel)]="taskUpdate.Description">
                        </div>
                        <div class="form-group">
                            <label>Enter Date</label>
                            <input type="text" class="form-control" name="Date" [(ngModel)]="taskUpdate.Date">
                        </div>
                        <div class="form-group">
                            <label>Enter Assigned To</label>
                            <input type="text" class="form-control" name="Assigned To" [(ngModel)]="taskUpdate.assignesTo">
                        </div>
                        <div class="form-group">
                            <label>Enter Priority</label>
                            <input type="text" class="form-control" name="Priority" [(ngModel)]="taskUpdate.Priority">
                        </div>

                        <div class="form-group">
                            <label>Enter Duration </label>
                            <input type="text" class="form-control" name="Duration" [(ngModel)]="taskUpdate.Duration">
                        </div>
                    </div> 
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                        <button type="update" class="btn btn-primary" data-dismiss="modal">Update Task</button> 
                    </div> 
                </form> 
            </div> 
        </div> 
    </div>
    
    